In [159]:
# Importing the requisite packages to conduct the analysis

import numpy as np
import pandas as pd
import glob
import matplotlib

In [12]:
# Reading the CSV files into pandas dataframes will allow us to begin blending, manipulating and analyzing the data

orgs = pd.read_csv(r"/Users/ArrioHoffman/Desktop/Podium coding-challenge/data/organizations/organizations.csv")
locs = pd.read_csv(r"/Users/ArrioHoffman/Desktop/Podium coding-challenge/data/locations/locations.csv")
invs = pd.read_csv(r"/Users/ArrioHoffman/Desktop/Podium coding-challenge/data/invites/review-invitations.csv")

In [11]:
# Assigning the filepath for the directory where all the reviews.csv's are contained

path = "/Users/ArrioHoffman/Desktop/Podium coding-challenge/data/reviews/*.csv"

In [14]:
# This "for-loop" will allow us to read in all of the csv files containing reviews without doing tediously it one by one and it is appending each as it goes so that we will end up with all of the data from all reviews.csv's in a single pandas dataframe

file_list = glob.glob(path)
revs = pd.read_csv(file_list[0])
for i in file_list[1:]:
  revs = revs.append(pd.read_csv(i))

In [44]:
# In general, which organization had the best reviews after joining podium?
# By merging the organizations data with the reviews data, we are now prepared to see how each organization did at a ten thousand foot level

org_revs = revs[['rating','publish_date','organization_id']]
org_revs = pd.merge(org_revs,orgs,on='organization_id',how='left')

In [45]:
# org_after is a list of all reviews, by organization, in which the review was published BEFORE the organization/company joined Podium
# org_before is a list of all reviews, by organization, in which the review was published AFTER the organization/company joined Podium

org_after = org_revs[org_revs.organization_start_date<org_revs.publish_date][['rating','organization_name']]
org_before = org_revs[org_revs.organization_start_date>org_revs.publish_date][['rating','organization_name']]

In [157]:
# Grouping by the organization name, we can use aggregate functions to derive the mean of the ratings produced for/from that organization BEFORE joining Podium

org_before.groupby('organization_name').agg('mean')

                     rating
organization_name
Company A          4.176871
Company B          2.745763
Company C          4.828112

In [158]:
# Grouping by the organization name, we can use aggregate functions to derive the mean of the ratings produced for/from that organization AFTER joining Podium

org_after.groupby('organization_name').agg('mean')

                     rating
organization_name
Company A          4.676200
Company B          4.756929
Company C          4.830599

In [48]:
# In general, which location had the best reviews after joining podium? We can answer that question with the following.
# By merging the location data with the reviews data, we are prepared to now see how each location performed

loc_revs = revs[['rating','publish_date','location_id','organization_id']]
loc_revs = pd.merge(loc_revs,locs,on='location_id',how='left')

In [32]:
# loc_after is a list of all reviews, by location, in which the review was published AFTER the location in question joined Podium
# loc_before is a list of all reviews, by location, in which the review was published BEFORE the location in question joined Podium

loc_after = loc_revs[loc_revs.location_start_date<loc_revs.publish_date][['rating','location_id']]
loc_before = loc_revs[loc_revs.location_start_date>loc_revs.publish_date][['rating','location_id']]

In [152]:
# Grouping by the location, we can use aggregate functions to derive the mean of the ratings produced for/from that location BEFORE joining Podium

loc_before.groupby('location_id').agg('mean')

               rating
location_id
2838         3.687500
2839         3.904762
4459         2.750000
4460         4.363636
4485         2.434783
7577         4.000000
9543         4.355072
10028        4.068182
18130        5.000000
19148        3.939394
19168        3.416667
22342        2.500000
22343        3.000000
22344        2.666667
22345        3.000000
22346        4.142857
22347        2.000000
22348        1.000000
22349        5.000000
22350        1.000000
22353        3.000000
22355        2.000000
22356        3.000000
22357        3.000000
22358        1.000000
22359        2.333333
22360        5.000000
22361        3.000000
22362        3.666667
22366        2.000000
31423        3.833333
32205        4.917391
32336        4.983333
32338        4.866667
32340        4.980892
32341        5.000000
32342        4.918919
32343        4.846154
32345        4.659091
32346        4.745763
32347        4.866667
32348        4.618421
32349        4.950000
32350        4.526316
32351        4.775862
32352        4.272727
32354        4.812500
32355        4.941176
32357        5.000000
32358        4.830189
32359        4.609756
34794        4.410256
34795        4.459184
35742        3.187500
38257        4.820513
66196        3.400000

In [155]:
# Grouping by the location, we can use aggregate functions to derive the mean of the ratings produced for/from that location BEFORE joining Podium

loc_after.groupby('location_id').agg('mean')

               rating
location_id
2838         4.700125
2839         4.686076
4459         4.630308
4460         4.663436
4485         4.632075
6765         4.814714
7577         4.667327
9543         4.508671
10028        4.765657
18130        4.840285
19148        4.663110
19168        4.830443
22341        4.818391
22342        4.746497
22343        4.550336
22344        4.739024
22345        4.493776
22346        4.780570
22347        4.810101
22348        4.776398
22349        4.773585
22350        4.770370
22353        4.728507
22355        4.752169
22356        4.805808
22357        4.753425
22358        4.784223
22359        4.758730
22360        4.798058
22361        4.814655
22362        4.826620
22366        4.721973
31423        4.815000
32205        4.857923
32336        4.877551
32338        4.791045
32340        4.815534
32341        4.802083
32342        4.981308
32343        4.746667
32345        4.855000
32346        4.843284
32347        4.898148
32348        4.725888
32349        4.793103
32350        4.889503
32351        4.988095
32352        4.768000
32354        4.796296
32355        4.760563
32357        4.939394
32358        4.829787
32359        4.748428
34794        4.676471
34795        4.722892
35742        4.593750
38257        4.872549
66196        4.866667

In [117]:
# Grouping by location, this is an average of the ratings produced by solicitation

solicit.groupby('location_id').agg('mean').drop(['review_id',
                                               'invitation_id'], axis=1).rename(columns={"rating": "Avg Rating Produced by Solicitation"})

             Avg Rating Produced by Solicitation  organization_id
location_id
2838                                    4.809114           1377.0
2839                                    4.779463           1377.0
4459                                    4.743139           1377.0
4460                                    4.761628           1377.0
4485                                    4.824253           1377.0
6765                                    4.866426           1377.0
7577                                    4.827309           1377.0
9543                                    4.746893           1377.0
10028                                   4.862881           1377.0
18130                                   4.903730           1377.0
19148                                   4.821285           1377.0
19168                                   4.925824           1377.0
22341                                   4.840000           9371.0
22342                                   4.813291           9371.0
22343                                   4.664850           9371.0
22344                                   4.829912           9371.0
22345                                   4.632979           9371.0
22346                                   4.836100           9371.0
22347                                   4.851459           9371.0
22348                                   4.835206           9371.0
22349                                   4.779851           9371.0
22350                                   4.808955           9371.0
22353                                   4.772563           9371.0
22355                                   4.793696           9371.0
22356                                   4.810417           9371.0
22357                                   4.790991           9371.0
22358                                   4.823034           9371.0
22359                                   4.813688           9371.0
22360                                   4.851016           9371.0
22361                                   4.857143           9371.0
22362                                   4.854470           9371.0
22366                                   4.851429           9371.0
31423                                   4.908451           1377.0
32205                                   4.911504          12886.0
32336                                   4.885246          12886.0
32338                                   4.843137          12886.0
32340                                   4.885714          12886.0
32341                                   4.870968          12886.0
32342                                   5.000000          12886.0
32343                                   4.853333          12886.0
32345                                   4.890511          12886.0
32346                                   4.895161          12886.0
32347                                   4.914634          12886.0
32348                                   4.886364          12886.0
32349                                   4.945946          12886.0
32350                                   4.966102          12886.0
32351                                   4.981481          12886.0
32352                                   4.939394          12886.0
32354                                   4.960938          12886.0
32355                                   4.960000          12886.0
32357                                   4.984615          12886.0
32358                                   4.901099          12886.0
32359                                   4.938144          12886.0
34794                                   4.833992           1377.0
34795                                   4.815789           1377.0
35742                                   5.000000           1377.0
38257                                   4.962617           1377.0
66196                                   4.911111           1377.0

In [21]:
# All the reviews that were and were not solicited by Podium.

solicit = revs[revs.invitation_id.isin(invs.invitation_id)]
organic = revs[~revs.invitation_id.isin(invs.invitation_id)]

In [116]:
# By location (location_id on the left), the number of ratings produced after solicitation from Podium

solicited_numreviews = solicit.groupby(['location_id']).count().drop(['rating', 'publish_date','organization_id',
                                               'invitation_id'], axis=1).rename(columns={"review_id": "Number of Podium-Solicited Reviews"})
solicited_numreviews

             Number of Podium-Solicited Reviews
location_id
2838                                       1163
2839                                        857
4459                                        911
4460                                        860
4485                                        569
6765                                        277
7577                                        747
9543                                        885
10028                                       722
18130                                       831
19148                                       498
19168                                       364
22341                                       350
22342                                       632
22343                                       367
22344                                       341
22345                                       188
22346                                       482
22347                                       377
22348                                       534
22349                                       268
22350                                       335
22353                                       554
22355                                       698
22356                                       480
22357                                       555
22358                                       356
22359                                       263
22360                                       443
22361                                       196
22362                                       481
22366                                       175
31423                                       284
32205                                       113
32336                                        61
32338                                        51
32340                                        70
32341                                        62
32342                                        67
32343                                        75
32345                                       137
32346                                       124
32347                                        82
32348                                       132
32349                                        74
32350                                       118
32351                                        54
32352                                        66
32354                                       128
32355                                        50
32357                                        65
32358                                        91
32359                                        97
34794                                       253
34795                                       190
35742                                        17
38257                                       321
66196                                        45

In [70]:
# All the reviews that were and were not solicited by Podium, dropping unnecessary columns

solicit1 = revs[revs.invitation_id.isin(invs.invitation_id)][['rating','publish_date','location_id','organization_id']]
organic1 = revs[~revs.invitation_id.isin(invs.invitation_id)][['rating','publish_date','location_id','organization_id']]

In [118]:
# By location (location_id on the left), number of ALL organically produced reviews

organic_all = organic.groupby(['location_id']).count().drop(['rating', 'publish_date','organization_id',
                                               'invitation_id'], axis=1).rename(columns={"review_id": "Number of Organically Produced Reviews"})
organic_all

             Number of Organically Produced Reviews
location_id
2838                                            489
2839                                            391
4459                                            302
4460                                            396
4485                                            302
6765                                             90
7577                                            291
9543                                            602
10028                                           312
18130                                           153
19148                                           191
19168                                           167
22341                                            85
22342                                           159
22343                                            82
22344                                            72
22345                                            55
22346                                           122
22347                                           122
22348                                           116
22349                                            52
22350                                            72
22353                                           111
22355                                           112
22356                                            75
22357                                           105
22358                                            76
22359                                            55
22360                                            74
22361                                            38
22362                                            93
22366                                            50
31423                                           188
32205                                           300
32336                                            97
32338                                            46
32340                                           190
32341                                           105
32342                                            77
32343                                           127
32345                                           107
32346                                           203
32347                                            56
32348                                           141
32349                                            62
32350                                           120
32351                                            88
32352                                            92
32354                                           168
32355                                            38
32357                                            45
32358                                           103
32359                                           103
34794                                           282
34795                                           157
35742                                            31
38257                                           126
66196                                            30

In [74]:
# Merging the location start date data with the organic review data will allow us to compare before and after locations of the respective companies joined Podium.
# We do this by (1) defining organic_before1 as organically produced reviews published before the location in question joined Podium and (2) defining organic_after1 as organically produced reviews published after the location in question joined Podium 

organic_revs1 = pd.merge(organic,locs[['location_id','location_start_date']],on='location_id',how='left')
organic_after1 = organic_revs1[organic_revs1.location_start_date<organic_revs1.publish_date][['rating','location_id']]
organic_before1 = organic_revs1[organic_revs1.location_start_date>organic_revs1.publish_date][['rating','location_id']]

In [119]:
# By location (location_id on the left), the number of ratings organically produced before the location joined Podium

organic_before_podium = organic_before1.groupby(['location_id']).count().rename(columns={"rating": "Number of Organically Produced Ratings Before Podium"})
organic_before_podium

             Number of Organically Produced Ratings Before Podium
location_id
2838                                                        48
2839                                                        63
4459                                                        12
4460                                                       121
4485                                                        23
7577                                                        28
9543                                                       276
10028                                                       44
18130                                                        1
19148                                                       33
19168                                                       12
22342                                                        6
22343                                                        2
22344                                                        3
22345                                                        2
22346                                                        7
22347                                                        4
22348                                                        6
22349                                                        2
22350                                                        2
22353                                                        2
22355                                                        3
22356                                                        4
22357                                                        3
22358                                                        1
22359                                                        3
22360                                                        2
22361                                                        2
22362                                                        3
22366                                                        2
31423                                                       72
32205                                                      230
32336                                                       60
32338                                                       30
32340                                                      157
32341                                                       71
32342                                                       37
32343                                                       52
32345                                                       44
32346                                                       59
32347                                                       30
32348                                                       76
32349                                                       20
32350                                                       57
32351                                                       58
32352                                                       33
32354                                                       80
32355                                                       17
32357                                                       11
32358                                                       53
32359                                                       41
34794                                                      195
34795                                                       98
35742                                                       16
38257                                                       39
66196                                                       15

In [120]:
# By location (location_id on the left), the number of ratings organically produced after Podium

organic_after_podium = organic_after1.groupby(['location_id']).count().rename(columns={"rating": "Number of Organically Produced Ratings After Podium"})
organic_after_podium

             Number of Organically Produced Ratings After Podium
location_id
2838                                                       441
2839                                                       328
4459                                                       290
4460                                                       275
4485                                                       279
6765                                                        90
7577                                                       263
9543                                                       326
10028                                                      268
18130                                                      152
19148                                                      158
19168                                                      155
22341                                                       85
22342                                                      153
22343                                                       80
22344                                                       69
22345                                                       53
22346                                                      115
22347                                                      118
22348                                                      110
22349                                                       50
22350                                                       70
22353                                                      109
22355                                                      109
22356                                                       71
22357                                                      102
22358                                                       75
22359                                                       52
22360                                                       72
22361                                                       36
22362                                                       90
22366                                                       48
31423                                                      116
32205                                                       70
32336                                                       37
32338                                                       16
32340                                                       33
32341                                                       34
32342                                                       40
32343                                                       75
32345                                                       63
32346                                                      144
32347                                                       26
32348                                                       65
32349                                                       42
32350                                                       63
32351                                                       30
32352                                                       59
32354                                                       88
32355                                                       21
32357                                                       34
32358                                                       50
32359                                                       62
34794                                                       87
34795                                                       59
35742                                                       15
38257                                                       87
66196                                                       15

In [122]:
# Grouping by location, this is an average of the ratings organically produced

organic_ratings_all = organic.groupby('location_id').agg('mean').drop(['review_id',
                                               'invitation_id'], axis=1).rename(columns={"rating": "Avg of Any Organically Produced Rating"})
organic_ratings_all

             Avg of Any Organically Produced Rating  organization_id
location_id
2838                                       4.341513           1377.0
2839                                       4.355499           1377.0
4459                                       4.215232           1377.0
4460                                       4.358586           1377.0
4485                                       4.102649           1377.0
6765                                       4.655556           1377.0
7577                                       4.192440           1377.0
9543                                       4.088040           1377.0
10028                                      4.442308           1377.0
18130                                      4.496732           1377.0
19148                                      4.125654           1377.0
19168                                      4.520958           1377.0
22341                                      4.729412           9371.0
22342                                      4.396226           9371.0
22343                                      4.000000           9371.0
22344                                      4.222222           9371.0
22345                                      3.963636           9371.0
22346                                      4.524590           9371.0
22347                                      4.590164           9371.0
22348                                      4.310345           9371.0
22349                                      4.750000           9371.0
22350                                      4.486111           9371.0
22353                                      4.477477           9371.0
22355                                      4.419643           9371.0
22356                                      4.680000           9371.0
22357                                      4.504762           9371.0
22358                                      4.552632           9371.0
22359                                      4.363636           9371.0
22360                                      4.486486           9371.0
22361                                      4.500000           9371.0
22362                                      4.645161           9371.0
22366                                      4.160000           9371.0
31423                                      4.297872           1377.0
32205                                      4.883333          12886.0
32336                                      4.938144          12886.0
32338                                      4.782609          12886.0
32340                                      4.926316          12886.0
32341                                      4.895238          12886.0
32342                                      4.935065          12886.0
32343                                      4.724409          12886.0
32345                                      4.728972          12886.0
32346                                      4.783251          12886.0
32347                                      4.857143          12886.0
32348                                      4.517730          12886.0
32349                                      4.661290          12886.0
32350                                      4.641667          12886.0
32351                                      4.852273          12886.0
32352                                      4.467391          12886.0
32354                                      4.678571          12886.0
32355                                      4.578947          12886.0
32357                                      4.888889          12886.0
32358                                      4.766990          12886.0
32359                                      4.514563          12886.0
34794                                      4.351064           1377.0
34795                                      4.445860           1377.0
35742                                      3.645161           1377.0
38257                                      4.626984           1377.0
66196                                      4.066667           1377.0

In [162]:
# Merging the organic reviews data with the organizations data will prepare us to see how organizations fared producing reviews organically both before and after joining Podium.
# organic_after is a list of all reviews, by location, in which the organically sourced review was published AFTER the location in question joined Podium
# organic_before is a list of all reviews, by location, in which the review was published BEFORE the location in question joined Podium

organic_revs_o = pd.merge(organic,orgs[['organization_id','organization_start_date','organization_name']],on='organization_id',how='left')
organic_after_o = organic_revs_o[organic_revs_o.organization_start_date<organic_revs_o.publish_date][['rating','organization_id']]
organic_before_o = organic_revs_o[organic_revs_o.organization_start_date>organic_revs_o.publish_date][['rating','organization_id']]

In [174]:
organic_ratings_all1 = pd.merge(organic_ratings_all, orgs, on='organization_id', how='left').drop(['organization_start_date','organization_name'], axis=1)

organic_ratings_all1.groupby(['organization_id']).agg('mean').rename(columns={"rating": "Avg of Any Organically Produced Rating"})

                 Avg of Any Organically Produced Rating
organization_id
1377.0                                         4.296043
9371.0                                         4.438125
12886.0                                        4.751140

In [143]:
# Grouping by organization_id, this will give us the number of organically produced ratings by company BEFORE joining Podium

organic_before_o.groupby(['organization_id']).count().rename(columns={"rating": "Number of Organically Produced Ratings Before Podium"})

                 Number of Organically Produced Ratings Before Podium
organization_id
1377                                                           588
9371                                                            59
12886                                                         1181

In [163]:
# Grouping by organization_id, this will give us the number of organically produced ratings by company AFTER joining Podium

organic_after_o.groupby(['organization_id']).count().rename(columns={"rating": "Number of Organically Produced Ratings After Podium"})

                 Number of Organically Produced Ratings After Podium
organization_id
1377                                                          3912
9371                                                          1667
12886                                                         1087

In [160]:
# Merging the solicited reviews data with the organizations data will prepare us to see how organizations fared producing reviews with Podium's software.
# solicit_after is a list of all reviews, by organization/company, in which the review was published AFTER the organization in question joined Podium.
# There are no reviews "solicited" before organizations joined Podium, as that wouldn't make sense-- we are defining solicitation as those reviews that have invitation id's associated with them, hence there is no solicit_before variable

solicit_revs_o = pd.merge(solicit,orgs[['organization_id','organization_start_date','organization_name']],on='organization_id',how='left')
solicit_after_o = solicit_revs_o[solicit_revs_o.organization_start_date<solicit_revs_o.publish_date][['rating','organization_id']]

In [161]:
solicit_after_o.groupby(['organization_id']).count().rename(columns={"rating": "Number of Ratings Produced by Solicitation After Podium"})

                 Number of Ratings Produced by Solicitation After Podium
organization_id
1377                                                          9794
9371                                                          8075
12886                                                         1717

In [175]:
# Grouping by organization_id, this will give us the number of organically produced ratings by companies AT ALL

solicit_rev1 = pd.merge(solicit1, orgs[['organization_id','organization_start_date','organization_name']], on='organization_id', how='left').drop(['organization_start_date','organization_name','publish_date','location_id'], axis=1)

solicit_rev1.groupby(['organization_id']).agg('mean').rename(columns={"rating": "Avg of Any Rating Solicited with Podium's Software"})

                 Avg of Any Rating Solicited with Podium's Software
organization_id
1377                                                      4.820911
9371                                                      4.808173
12886                                                     4.919627